#form-inc-treinamento{
  // border: 1px solid black;
  border-radius: 15px;
  width: 90%;
  padding-left: 10px;
  // font-size: 10px;
  height: 570px;

  .linha{
    display: flex;
  }

  .col50{
    width: 50%;
  }

  .select{
    background-color: white;
    margin-bottom: 0px;
    margin-top: 32px;
    width: 98%;
  }

  .form__group{
    width: 97%;
  }

  #form-linha-2{
    .form__group{
      width: 100%;
    }
    textarea{
      resize: none;
      width: 97%;
    }
  }

  #form-linha-3{
    .form__group{
      width: 90%;
    }
  }

  #form-linha-datepicker {
    margin-top: 15px;
    display: flex;
    align-items: center;
    h2 {
      margin-right: 10px;
      font-size: 20px;
    }
  }

  #form-linha-4{
    padding-top: 20px;
    .create-playlist{
      border-radius: 15px;
      height: 300px;
      width: 98%;
    }
    .add-conteudo-playlist{
      font-size: 20px;
      border-bottom: 1px solid white;
      padding-top: 15px;
      padding-left: 15px;
      i{
        cursor: pointer;
      }
    }
    .list-conteudo{
      background-color: #334b6b;
      overflow-x: hidden;
      overflow-y: scroll;
      height: 240px;
      .info-conteudo{
        display: flex;
        .thumbnail-conteudo{
          width: 20%;
          img{
            width: 100%;
            height: 60px;
          }
        }
        .desc-conteudo{
          height: 60px;
          background-color: white;
          width: 77%;
          border-radius: 0px 10px 10px 0px;
          padding-left: 10px;
          p{
            padding-top: 4.5%;
            color: black;
          }
        }
        .list-representante{
          width: 100%;
          margin-top: 10px;
          padding: 0 60px;
          ul{
            list-style: decimal-leading-zero;
            li{
              margin-right: 10px;
              padding-bottom: 10px;
            }
          }
        }
      }
    }
  }

  #form-linha-5{
    width: 100%;
    ul{
      columns: 2;
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    li {
      list-style: none;
      display: inline-block;
      padding: 30px 15px;
      button{
        padding: 10px 30px;
        color: white;
        border-radius: 15px;
        border: none;
        outline: 0;
      }
    }
  }
}

#panel-add-treinamento p{
  color: white;
}